{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<h1>Dashboard</h1>

		<a href="{{ path('admin_create') }}" class="btn btn-outline-success mb-3">Ajouter</a>

		<table class="table striped">
			<thead>
				<tr>
					<th>Icône</th>
					<th>Titre</th>
					<th>Url</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for link in links %}
					<tr>
						<td>{{ link.icon }}</td>
						<td>{{ link.title }}</td>
						<td>{{ link.url }}</td>
						<td>
							<a href="{{ path('admin_edit', {id: link.id}) }}" class="btn btn-outline-info">Éditer</a>
							<a href="" class="btn btn-outline-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
